nav{
	position: relative !important;
	width: 200px;
	left: 0px;

}
#mainTittle{
	text-align: center;
	height: 15vh;
	padding-top:  10vh;

}
a #mainTittle{
	color: black;

}
h2{
	text-align: center;
}


.btnInfo{
	border: black 1px solid;
	border-radius: 5px;
	padding: 5px;
	background-color: rgba(242,235,233,0.5);
}
.login input{
	width: 50vh;
}
.mainHeader{
background-image: url("../img/biblioteca.png");
  min-height: 30vh; 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.mainHeader a{
	color: black;
	font-weight: bold;
}


.mainHeader h1{
	color: black;
	font-size: 10vh;
	margin-left: 30vh;
}

.ingresar{
	margin-left: 5vh;
}

@media (max-width: 800px) {
 	.mainHeader h1{
	font-size: 5vh;
	margin-left: 0vh;
  }
}
.rowCont input{
	margin-top: 1vh;
	border-radius: 5px;
}
.login button{
	border-radius: 5px;
	width: 20vh;
	background-color: rgba(242,235,233,0.5);
	border:solid 1px black;
}
.rowCont .rec{
	margin-top: 2vh;
	margin-bottom: 3vh;
}

.bg-light{	/*color del menú*/
	background-color: rgba(205,206,212,0.1) !important;
	border-radius: 5px;
	margin-top: 1vh;

}
.navbar-toggler:not(:disabled):not(.disabled){
	margin-right: 10vh;
	background-color: rgba(139,148,154,0.5);
}
.bg-light li{ /*distancia los elementos del menú*/
	padding-top: 3vh;
}
.btnForm2{
	margin-top: 2vh;
}

/*Efectos para los botones "más info" del catálogo*/
.btnInfo:hover, .btnForm:hover, .btnForm2:hover {
  background-color:  rgba(52,58,75,1);
  color: white;
}

.btnInfo span, .btnForm span,.btnForm2 span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.btnInfo span:after, .btnForm span:after,.btnForm2 span:after{
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.btnInfo:hover span, .btnForm:hover span, .btnForm2:hover span {
  padding-right: 25px;
}

.btnInfo:hover span:after, .btnForm :hover span:after, .btnForm2:hover span:after{
  opacity: 1;
  right: 0;
}
/*------------------------------------------------------------------*/
.elSlider{
	margin-top: 5vh;
}
.elSlider img{
	border-radius: 5px;

}
body{
	background-color: rgba(205,206,212,0.1);
}